@import url("https://fonts.googleapis.com/css2?family=Italiana&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap");
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
html {
  width: 100%;
  height: auto;
  font-size: 62.5%;
  font-family: "Italiana", serif;
}
:root {
  --main-color: #000;
  --bgc-gray-texto: #7e7e7e;
  --bgc-circle-color: #1e1e1e;
  --main-texto-color: #fff;
  --white: #fff;
}

body {
  background-color: var(--main-color);
  color: var(--main-texto-color);
}

.nav {
  margin-top: 20px;
  height: 4.5rem;
  width: 100%;
  border-radius: 20px;

  display: flex;
  justify-content: flex-end;
}
.lista {
  display: flex;
  list-style: none;
  color: #000;

  min-width: 350px;
  height: 100%;
  padding: 20px;

  border-radius: 10px;

  background-color: var(--white);
  justify-content: space-between;
  align-items: center;

  gap: 20px;
}

.item a {
  text-decoration: none;
  color: black;
  font-size: 2rem;
  transition: 0.3s;
}
.item a:hover {
  color: gray;
}

.hamburguesa {
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: relative;
  z-index: 1;
  margin-right: 40px;

  user-select: none;
  appearance: none;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

.hamburguesa span {
  display: block;
  width: 33px;
  height: 4px;
  position: relative;

  background-color: rgb(255, 255, 255);
  border-radius: 6px;
  z-index: 1;
  transform-origin: 0 0;
  transition: 0.4s;
}

.hamburguesa:hover span:nth-child(2) {
  transform: translateX(10px);
  background-color: red;
}

.main {
  width: 100%;
  height: auto;
}

.me__info {
  width: 90vw;
  height: auto;
  margin: 0 auto;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.me__txt {
  display: flex;
  flex-direction: column;

  font-size: 8rem;

  width: auto;
  height: auto;
}

.span-1 {
  color: var(--bgc-gray-texto);
}
.span-2 {
  align-self: center;
}

.span-3 {
  align-self: center;
}
.span-4 {
  align-self: flex-end;
}
.logos {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
.logos--end {
  width: 4rem;
  height: auto;
}
.me--img {
  width: clamp(120px, 50%, 450px);
  height: auto;
}

.hoja__rota {
  position: relative;
  color: #000;
}

.hoja__rota h2 {
  position: absolute;
  left: 30%;
  bottom: 50%;
  margin: auto;
  color: #000;
  font-size: 4vw;
}
.hoja__rota p {
  position: absolute;
  left: 51%;
  bottom: 45%;
  margin: auto;
  font-size: 3vw;
}
/* ! web developer */
.web-developer {
  width: 80%;
  height: auto;

  margin: 0 auto;
  font-size: 5rem;

  line-height: 135%;
}

.web-developer p {
  font-family: "Julius Sans One", sans-serif;
  text-align: justify;
  font-size: 4rem;
}

.web-developer a {
  color: white;
}

.down {
  width: 100%;
  height: auto;
  margin-top: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.down img {
  width: 30px;
  height: auto;
  margin: 20px 0 0;
}

.arrow__down {
  width: 40px;
  height: 40px;
}
.proyects {
  width: 90%;
  height: auto;
  margin: 20px auto;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);

  justify-content: center;
  align-items: center;
  gap: 20px;
  text-align: center;

  grid-template-areas:
    "item1 item2 item2 item2"
    "item3 item3 item3 item4";
}
.proyect__item {
  place-self: center;
  width: 100%;
  height: 420px;
  justify-self: center;

  border-radius: 20px;
}
.item1 {
  background: url(./img/1-pro.png) no-repeat center;
  background-size: cover;

  grid-area: item1;
}
.item2 {
  background: url(./img/3-landing.png) no-repeat center;
  background-size: cover;

  grid-area: item2;
}
.item3 {
  background: url(./img/3-netflix.png) no-repeat center;
  background-size: cover;

  grid-area: item3;
}
.item4 {
  background: url(./img/2-nft.png) no-repeat center;
  background-size: cover;

  grid-area: item4;
}

h2 {
  margin-top: 50px;
  text-align: center;
  font-size: 6rem;
  color: var(--bgc-gray-texto);
}

.conocimiento {
  width: 100%;
  height: auto;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 300px));
  grid-template-rows: repeat(auto, 1fr);

  justify-content: space-around;
  align-items: center;

  margin-top: 50px;

  gap: 140px;
}

.conocimiento div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-size: 3rem;

  text-align: center;
  font-family: "Julius Sans One", sans-serif;

  width: auto;
  height: auto;
}

.conocimiento img {
  width: 120px;
  height: 120px;
}

.form__container {
  width: 90%;
  height: auto;
  margin: 0 auto;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 5px;
}

.form {
  width: 60%;
  font-family: Arial, Helvetica, sans-serif;
  padding: 80px;
}

.form input {
  width: 100%;
  padding: 15px;
  outline: 0;
  margin-top: 5px;
  margin-bottom: 20px;
}

.form__btn {
  background-color: #000;
  color: #fff;

  width: 120px;
  height: auto;
  margin-top: 10px;
  padding: 10px;

  border: none;

  font-family: "Italiana", serif;
  font-size: 2rem;

  cursor: pointer;
}

.form__img {
  width: clamp(120px, 50%, 100%);
}
textarea {
  width: 100%;
  height: 60px;
  resize: none;
}
.footer {
  width: 100%;
  height: 40px;
  margin-top: 20px;
  padding: 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logos__final img {
  width: 30px;
  height: 30px;
}

.arrow-up {
  position: fixed;
  right: 0;
  bottom: 20px;
  cursor: pointer;
  padding: 10px;
  width: 80px;
}
@media screen and (max-width: 768px) {
  .proyects {
    grid-template-areas:
      "item1 item1 item2 item2"
      "item3 item3 item3 item3"
      "item4 item4 item4 item4";
  }
  .logos--end {
    width: 2.5rem;
  }

  .item1 {
    grid-area: item1;
  }
  .item2 {
    grid-area: item4;
  }
  .item3 {
    grid-area: item3;
  }
  .item4 {
    grid-area: item2;
  }
  .web-developer {
    line-height: 70%;
  }

  .me__txt {
    font-size: 7vw;
  }

  .web-developer p {
    font-size: 2rem;
  }

  .conocimiento div {
    font-size: 2rem;
  }

  .conocimiento img {
    width: 30%;
    height: auto;
  }
  .conocimiento {
    gap: 50px;
  }
  h2 {
    font-size: 2.5rem;
  }
  .form__img {
    display: none;
  }
  .form {
    width: 100%;
    padding: 50px;
  }
  .arrow-up {
    width: 60px;
  }
}
