@import url("https://fonts.googleapis.com/css2?family=Italiana&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  width: 100%;
  height: auto;
  font-size: 62.5%;
  font-family: "Italiana", serif;
}
:root {
  --main-color: #000;
  --bgc-gray-texto: #7e7e7e;
  --bgc-circle-color: #1e1e1e;
  --main-texto-color: #fff;
  --white: #fff;
}

body {
  background-color: var(--main-color);
  color: var(--main-texto-color);
}

.nav {
  margin-top: 20px;
  height: 4.5rem;
  width: 100%;
  border-radius: 20px;

  display: flex;
  justify-content: flex-end;
}
.lista {
  display: flex;
  list-style: none;
  color: #000;

  width: 350px;
  height: 100%;
  padding: 20px;

  border-radius: 10px;

  background-color: var(--white);
  justify-content: space-between;
  align-items: center;

  gap: 20px;
}

.item a {
  text-decoration: none;
  color: black;
  font-size: 2rem;
  transition: 0.3s;
}
.item a:hover {
  color: gray;
}

.hamburguesa {
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: relative;
  z-index: 1;

  user-select: none;
  appearance: none;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

.hamburguesa span {
  display: block;
  width: 33px;
  height: 4px;
  position: relative;

  background-color: black;
  border-radius: 6px;
  z-index: 1;
  transform-origin: 0 0;
  transition: 0.4s;
}

.hamburguesa:hover span:nth-child(2) {
  transform: translateX(10px);
  background-color: red;
}

.main {
  width: 100%;
  height: auto;
}
.main__me {
  height: auto;
}
.me__info {
  width: auto;
  height: 100%;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.me__txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 30%;
  height: auto;
  /* border: 1px solid red; */
  font-size: 6rem;
}
.span-1 {
  color: var(--bgc-gray-texto);
  align-self: flex-start;
}
.span-2 {
  align-self: center;
}
.span-3 {
  /* margin-left: 220px; */
  align-self: center;
}
.span-4 {
  align-self: flex-end;
}
.logos {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: 50px;
  /* border: 1px solid red; */
}
.logos img {
  width: 30px;
  height: 30px;
}
.me__img {
  width: 360px;
  height: 580px;
  filter: grayscale(1);
}
.down {
  margin-top: 80px;
  text-align: center;
}

.hoja__rota {
  width: 100%;
  height: 720px;

  background-image: url(./img/Ripped\ Paper.png);
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hoja__text {
  color: #000;
  font-size: 3rem;
  text-align: right;
}

.web-developer {
  width: 80%;
  height: auto;

  margin: 0 auto;
  font-size: 5rem;
}
.web-developer h2 {
  color: var(--bgc-gray-texto);
}
.web-developer p {
  text-align: justify;
}
.web-developer a {
  color: white;
}
.arrow__down {
  width: 40px;
  height: 40px;
}
.proyects {
  width: 90%;
  height: auto;
  margin: 20px auto;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);

  justify-content: center;
  align-items: center;
  gap: 20px;
  text-align: center;

  grid-template-areas:
    "item1 item2 item2"
    "item3 item3 item4";
}
.proyect__item {
  place-self: center;
  width: 100%;
  height: 420px;
  justify-self: center;

  border-radius: 20px;
}
.item1 {
  background: url(./img/1-pro.png) no-repeat center;
  background-size: cover;

  grid-area: item1;
}
.item2 {
  background: url(./img/3-landing.png) no-repeat center;
  background-size: cover;

  grid-area: item2;
}
.item3 {
  background: url(./img/3-netflix.png) no-repeat center;
  background-size: cover;

  grid-area: item3;
}
.item4 {
  background: url(./img/2-nft.png) no-repeat center;
  background-size: cover;

  grid-area: item4;
}

.conocimiento__h2 {
  margin-top: 50px;
  text-align: center;
  font-size: 6rem;
  color: var(--bgc-gray-texto);
}

.conocimiento {
  width: 100%;
  height: auto;

  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, auto);

  justify-content: space-around;
  align-items: center;

  margin-top: 50px;

  gap: 140px;
}

.conocimiento div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-size: 3rem;

  text-align: center;

  width: auto;
  height: auto;
}

.conocimiento img {
  width: 120px;
  height: 120px;
}

.form__h2 {
  text-align: center;
  font-size: 6rem;
  color: var(--bgc-gray-texto);
}

.form__container {
  width: 60%;
  height: auto;
  margin: 0 auto;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
}

.form {
  width: 70%;
  font-family: Arial, Helvetica, sans-serif;
  padding: 50px;
}

.form input {
  margin: 5px;
  width: 97%;
  padding: 15px;
  outline: 0;
}

.form__btn {
  background-color: #000;
  color: #fff;

  float: right;
  width: 80px;
  height: 20px;
  margin-right: 10px;

  border: none;

  font-family: "Italiana", serif;
  font-size: 1rem;
}

.form__img {
  width: clamp(120px, 50%, 100%);
}

.footer {
  width: 100%;
  height: 40px;
  margin-top: 20px;
  padding: 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logos__final img {
  width: 30px;
  height: 30px;
}
@media screen and (max-width: 768px) {
  .proyects {
    grid-template-areas:
      "item1 item1 item1"
      "item2 item2 item2"
      "item3 item3 item3"
      "item4 item4 item4";
  }
}
